.projectsBlock {
    background-color: #bbb6b6;
    min-height: 100vh;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.cardProject {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #e3dede;
}

.title h2 {

}

@media screen and ( max-width:  1129px) {
    .projects {
        justify-content: center;
    }
}

/* также если использовать min-width то будет наоборот */